/*
  crossbrowser focus
*/
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  box-shadow: 0 0 0 0 #000,
  0 0 0 2px #000 !important;
  border-color: #000 !important;
}

/*
  skip navigation link
 */
.a11y-skip {
  position:absolute;
  top:0;
  left:-9999px;
  background: #ececec;
  color: #000;
  padding: 5px;
}
.a11y-skip:focus,
.a11y-skip:hover {
  left:0;
  opacity:1;
}

/*
  contrast color for links
 */
a {
  color: #0045b4;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}

/*
  changes in colors to have proper contrast (siteimprove recomendations)
 */
.button.is-info,
.button.is-link {
  background-color: #065b92;
}

.tag:not(body).is-primary {
  background-color: #065b92;
}

.subtitle {
  color: #393939;
}

.hero.is-info {
  background-color: #0a629d;
}

.hero.is-info .subtitle {
  color: #ffff;
}

.hero.is-info .tabs a {
  opacity: 1;
}

.hero.is-info .tabs.is-boxed li.is-active a,
.hero.is-info .tabs.is-boxed li.is-active a:hover,
.hero.is-info .tabs.is-toggle li.is-active a,
.hero.is-info .tabs.is-toggle li.is-active a:hover {
  color: #0a629d;
}

.tag:not(body).is-danger {
  background-color: #c41111;
}

.help.is-danger {
  color: #c41111;
}

.input.is-danger, .textarea.is-danger {
  border-color: #c41111;
}

.tag:not(body).is-success {
  background-color: #006624;
}

.help.is-success {
  color: #006624;
}

.input.is-success, .textarea.is-success {
  border-color: #006624;
}

.has-text-grey-light {
  color: #444!important;
}


/* Firefox hack */
.navbar-item img {
  min-width: 200px;
}

/* class for visuallu hidden elements */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* other styles */
.card-content .is-link {
  margin-right: 10px;
}

.tabs {
  overflow: visible;
  padding-top: 2px;
}

footer a,
.termsconditions {
  text-decoration: underline;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs ul,
.breadcrumbs ul li {
  display: inline;
}